/* Aturan CSS khusus untuk tampilan mobile */
@media (max-width: 576px) {
    .container-xxl {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .text-center.mx-auto.pb-5 {
      margin-bottom: 30px;
    }
  
    .container-xxl.py-5.pt-0 {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
  
    .col-lg-4,
    .col-md-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .owl-carousel .item {
        padding: 100px; /* Padding di dalam item carousel */
      }
      .position-relative {
        margin-bottom: 20px; /* Jarak antara item dalam carousel */
      }
  }
  